body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    text-align: center;
    margin: 20px 0;
}

.content {
    display: flex;
    justify-content: space-between;
}

.article {
    width: 70%;
}

.image-and-key-takeaways {
    display: flex;
    margin-bottom: 20px;
    background-color: red;
    width: 110%;
}

.image-and-key-takeaways img {
    width: 40%;
    height: auto;
    margin-right: 20px;
    background-color: red;
}

.key-takeaways {
    padding: 0;
}

.key-takeaways-title {
    margin-top: 0px;
}

.local-perspectives {
    margin-top: 20px;
    width: 110%;
}

.poll {
    width: 15%;
    border-left: 1px solid #ccc;
    padding-left: 20px;
}

footer {
    text-align: center;
    margin: 20px 0;
}

.text {
    font-size: 20px
}