body {
    font-family: Arial, sans-serif;
    color: var(--brown)
}

.container {
    width: 80%;
    margin: auto;
}

header {
    text-align: center;
    margin: 20px 0;
}

.content {
    display: flex;
    justify-content: space-between;
}

.article {
    width: 100%;
}

.article li {
    margin-left: -20px;
}

.image-and-key-takeaways {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
}

.image-and-key-takeaways img {
    width: 60%;
    height: auto;
    margin-right: 20px;
}

.key-takeaways {
    padding: 0;
}

.key-takeaways-title {
    margin-top: 0px;
}

.text-section {
    margin-top: 20px;
    width: 100%;
}

.poll {
    width: 15%;
    border-left: 1px solid #ccc;
    padding-left: 20px;
}

footer {
    text-align: center;
    margin: 20px 0;
}

.text {
    font-size: 20px
}

.back-button {
    position: absolute;
    left: 20px;
    padding: 15px 15px;
    background-color: var(--darkGreen);
    border: none;
    font-weight: bold;
    color: var(--brown);
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.back-button:hover {
    transform: scale(1.05)
}