body {
    background-color: var(--parchment);
}
.home-page {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.home-page p {
    font-size: 24px; /* Increase font size */
    font-weight: bold; /* Add bold font weight */
    color: var(--white); /* Adjust text color */
    letter-spacing: 2px; /* Increase letter spacing */
    margin-bottom: 30px; /* Increase bottom margin for spacing */
}

.topic-buttons {
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topic-buttons button {
    margin: 10px;
    padding: 15px 20px;
    color: var(--white);
    font-weight: bold;
    background-color: var(--lightGreen);
    border: 0px solid;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
.topic-buttons button:hover {
    transform: scale(1.05)
}

.topic-buttons button.selected {
    background-color: var(--green);;
}

.submit-button {
    padding: 15px 50px;
    background-color: var(--darkGreen);
    border: none;
    font-weight: bold;
    color: var(--brown);
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    transform: scale(1.05)
}

.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    color: var(--brown);
}

.loading-icon {
    height: 100px !important;
    width: 100px !important;
    fill: var(--brown) !important;
    margin-bottom: 20px;
}

.title-page {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
}

.title-text {
    margin-top: 0%;
    color: green;
    border: 10px;
    border-color: white;
    font-size: 140px;
    text-shadow: 40px 40px 30px var(--parchment); 
}
.title-page,
.header-container {
    position: relative; /* Ensure these elements are positioned relative to handle z-index correctly */
    z-index: 3;
}
.location-search-container  {
    padding: 6px;
}
.location-search-container input {
    font-size: 29px;
}

/* Adjust margins to make space for the tree roots */
.header-container {
    
    margin-bottom: 20px;
    margin-top: 20px; /* Adjust this to position the text and input box correctly */
}

.header-container h1 {
    justify-content: center;
    text-align: center;
    font-size: 60px;
}


.monkey {
    position: absolute;
    top: 5%; /* Adjust this to start the monkey higher up the tree */
    left: 50%;
    transform: translateX(-50%);
    width: 100px; /* Adjust size as needed */
    height: auto;
    cursor: pointer;
    transition: top 1s ease-in-out; /* Smooth transition for sliding down */
    z-index: 1; /* Ensure the monkey is above other elements */
}

.monkey.slide-down {
    top: 90%; /* Adjust this to the desired position when the monkey slides down */
}

.header-text {
    color: green;
    text-shadow: 20px 20px 18px var(--parchment); 
    font-size: 80px;
    text-align: center; /* Center text horizontally */
    margin: 20px 20px; /* Add margin to separate it from other elements */
}


.tree-container {
    position: absolute; /* Add this line */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; /* Adjust width to your needs */
    z-index: 0; /* Add this line */
}

.tree-container img {
    width: 100%; /* Adjust width to your needs */
    height: auto; /* Maintain aspect ratio */
}


.scroll-button2 {
  margin-top: 15%;
  margin-bottom: 23%;
  font-size: 80px;
  border: 0px;
  color: var(--brown);
}

.scroll-button2:hover {
  transform: scale(1.10);
  cursor:pointer;
}


