body {
    background-color: var(--parchment);
}
.home-page {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.home-page p {
    font-size: 24px; /* Increase font size */
    font-weight: bold; /* Add bold font weight */
    color: var(--brown); /* Adjust text color */
    letter-spacing: 2px; /* Increase letter spacing */
    margin-bottom: 30px; /* Increase bottom margin for spacing */
}

.topic-buttons {
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topic-buttons button {
    margin: 10px;
    padding: 15px 20px;
    color: var(--brown);
    font-weight: bold;
    background-color: var(--lightGreen);
    border: 0px solid;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
.topic-buttons button:hover {
    transform: scale(1.05)
}

.topic-buttons button.selected {
    background-color: var(--green);;
}

.submit-button {
    padding: 15px 50px;
    background-color: var(--darkGreen);
    border: none;
    font-weight: bold;
    color: var(--brown);
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    transform: scale(1.05)
}

.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    color: var(--brown);
}

.loading-icon {
    height: 100px !important;
    width: 100px !important;
    fill: var(--brown) !important;
    margin-bottom: 20px;
}

.title-page {
    height: 100%;
}

.title-text {
    margin-top: 40%;
    color: var(--brown);
    font-size: 100px;
}

.scroll-button {
    margin-top: 25%;
    margin-bottom: 10%;
    font-size: 80px;
    border: 0px;
    color: var(--brown);
}

.scroll-button:hover {
    transform: scale(1.05);
    cursor: pointer;
}
